<!-- CSS Section -->
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">


<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Testing paragraphs</h1>


    </div>

    <div id="paragraphBody"></div>

    <!-- <table id="paragraphTable" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Array</th>
          <th scope="col">Quote</th>
          <th scope="col">Projects</th>
          <th scope="col">Something</th>
        </tr>
      </thead>
      <tbody id="paragraphBody">
        
      </tbody>
    </table> -->
</div>