<!-- CSS Section -->
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">

<div class="container">
  <div class="jumbotron" ID = "home.page">
    <style>
      div {
        text-align: center;
      }
    </style>
      <h1 class="display-3">The Den</h1>
      <img src="Assets/images/background.png" alt="A homie background with a dark lit spacious room" class="center">
    </div>
</div>