<!-- CSS Section -->
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Products</h1>
      
    </div>

    <table id="contactTable" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email Address</th>
          <th scope="col">Short Message</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        
      </tbody>
    </table>
</div>