/* 
File Name: app.css
Author Name: Joseph Volpe
Website name: Joseph's Den
custom CSS goes here 
*/


.jumbotron {
    background-color: whitesmoke;
    
    
    
}
.projecttron {
    background-color: white;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    padding: 25px;
    padding-right: 50px;
  }

  h1 {
      padding:10px;
  }